/*
 * I wanted to do this:
 * @import ../js/node_modules/bootstrap/dist/css/bootstrap.min.css;
 * @import ../js/node_modules/bootstrap-daterangepicker/daterangepicker.css;
 *
 * Works great in my local environment with clean-css, but I haven't figured
 * out how to install clean-css on ix, so for now I'll explicitly load all the
 * style sheets in the html.
 */
 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
 body {
   font-size: 1.5em;
   line-height: 1em;
   font-family: "Lato", sans-serif;
   letter-spacing: 0.05em;
   font-weight: 400;
   background: #fb887c;
   color: #fff;
   text-rendering: optimizeLegibility;
}

#btn-custom{
    text-decoration: none;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
}
#btn-custom:hover {
    color: #999;
}
.center_div {
    margin: 0 auto;
    width: 80%;
}
#header{
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 1em;
    text-transform: lowercase;
    margin-bottom: 35px;
    text-rendering: optimizeLegibility;
}


#daterange {
    margin-bottom: 20px;
    padding: 10px;
}
