<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" type="text/css"
 href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>



<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- <script type="text/javascript"
   src="/static/js/busy.js">
</script> -->
<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->

<!-- Include Required Prerequisites -->
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">
<div class="row">
<h1 class="text-center" id="header">MeetMe?</h1>
</div>
</div>
<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">

<div class="jumbotron">
<h1>Meeting Proposals</h1>
      <p>Times proposed to meet. Click "Get My Calendar" to find the times you both have free!</p>
      <p>
          {% if session.calendars is not defined  %}
          <form id="getcals" method="GET" action="/getcals">
              <button class="btn btn-default btn-lg" type="submit">Get My Calendars</button>
          </form>
      {% endif %}
  </p>
      <form id="intersect" method="POST" action="/intersection">
      <button type="submit" id="btn-custom" class="btn btn-default btn-lg" value="Intersect" form="times">Intersect</button>
      </form>
    </div>

<!-- <div class="col-md-10 pull-left" style="border-right:1px solid #ccc;"> -->

<div class="row">
{% if session.calendars is defined  %}
<ul class="list-inline">
<li>
<ul class="list-unstyled">
{% for cal in session.calendars if cal.selected %}
<li><input type="checkbox" name="calid" value={{ cal.id }}>{{ cal.summary }}</li>
{% if loop.index is divisibleby 3 %}
</ul>
</li>
<li><ul class="list-unstyled">
{% endif %}
{% endfor %}
</ul>
</li>
</ul>
{% endif %}
</div>


<div class="row">
<div class="col-md-6 pull-left">
{% if other_meetings %}
<script>
function toggle(source) {
  checkboxes = document.getElementsByName('time');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<ul class="list-unstyled">
<li><input type="checkbox" onClick="toggle(this)"/> Check All</li>
{% for time in other_meetings.appts %}
<li><input type="checkbox" name="time" value={{ time }}> {{ time }}</li>
{% endfor %}
</ul>
</ul>
{% endif %}
</div>

<div class="col-md-6 pull-right">
{% if meetings %}
<ul class="list-unstyled">
{% for time in meetings.appts %}
<li><input type="checkbox" name="time" value={{ time }}> {{ time }}</li>
{% endfor %}
</ul>
</ul>
{% endif %}
</div>
</div>



  </div>  <!-- container (for bootstrap) -->

  </body>
  </html>
