<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" type="text/css"
 href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>



<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- <script type="text/javascript"
   src="/static/js/busy.js">
</script> -->
<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->

<!-- Include Required Prerequisites -->
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">
<div class="row">
<h1 class="text-center" id="header">MeetMe?</h1>
</div>
</div>
<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
<div class="row">
<!-- <div class="col-md-10 pull-left" style="border-right:1px solid #ccc;"> -->

  <form id="enterDate" action="{{ url_for('setrange') }}" method="post">

          <div class="row">


              <input id="daterange" type="text" name="daterange"
              {% if session.daterange is defined %} value="{{session.daterange}}" {% endif %}
              class="pull-down input-lg col-sm-12 col-md-9"
              style="text-align: center;
              background: #fff;
              cursor: pointer;
              padding: 5px 10px;
              border: 1px solid #ccc;" >

  <script type="text/javascript">
  $(function() {
  $('#daterange').daterangepicker(
    {
        ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')],
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<div class="col-sm-3 pull-right">
    <button id="btn-custom" class="btn btn-default btn-lg" type="submit">Set Range</button>
</div>

</div>
</form>


    <form id="getcals" method="GET" action="/getcals">
        <div class="row">
        <button class="btn btn-default" type="submit">Get Google Calendars</button>
    </div>
    </form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across).
    -->

<div class="row">
<form id="selectCal" action="{{ url_for('blocktimes') }}" method="post">

    {% if session.calendars is defined  %}


<ul class="list-inline">
<li>

<ul class="list-unstyled">
{% for cal in session.calendars if cal.selected %}
<li><input type="checkbox" name="calid" value={{ cal.id }}>{{ cal.summary }}</li>
{% if loop.index is divisibleby 3 %}
</ul>

</li>
<li><ul class="list-unstyled">
{% endif %}
{% endfor %}
</ul>
</li>

</ul>
{% endif %}
<input type="submit" id="btn-custom" class="btn btn-default" value="Block">
        </form>
        </div>

<!-- <div class="col-md-2 pull-right"> -->
<div class="row">
{% if meetings %}
<ul class="list-inline">
    <li>
    <ul class="list-unstyled">
{% for time in meetings.appts %}
        <li><input type="checkbox" name="time" value={{ time }}> {{ time }}</li>
{% if loop.index is divisibleby 10 %}
</ul></li><li><ul class="list-unstyled">
{% endif %}
{% endfor %}
</ul>
</li>
</ul>
{% endif %}

</div>

</div>
  </div>  <!-- container (for bootstrap) -->

  </body>
  </html>
